* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    width: 900px;
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    background-color: #4338ca;
    color: #ffffff;
    width: 900px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 30px;
    text-align: center;
}

.main {
    background-color: #c0bfbf;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    height: 300px;
    gap: 15px;
}

.features, .services {
    background-color: #4338ca;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.feature {
    width: 200px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
}

.service {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
}

.footer {
    background-color: #4338ca;
    width: 900px;
    height: 90px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}