body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
}

.title {
    font-size: 24px;
}

.subtitle {
    font-size: 14px;
}

.main {
    background-color: #ededed;
}

.section {
    background-color: white;
}

.section-title {
    color: black;
    font-size: 18px;
}

.text {
    color: black;
    font-size: 14px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.footer-text {
    font-size: 12px;
}
