.doc-body {
    background-color: aqua;
    font-family: sans-serif;
}

.main-container {
    width: 250px;
    height: 250px;
    background-color: white;
}

.title {
    font-size: 30px;
    color: aqua;
    text-align: center;
}

.role {
    font-size: 16px;
    font-weight: bold;
}

.name {
    font-size: 14px;
    font-style: italic;
}

.location {
    color:blue;
    text-decoration: underline;
}

.not-exist {
    color: red;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}