:root {
    --main-blue: #667eea;
    --main-purple: #764ba7;
    --main-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    --b-color-1: #1b38b9;
    --b-color-2: #632ca2;
    --b-color-3: #183c89;
    --b-color-4: #0fd40f;       
    --b-color-5: #99d116;
    --b-color-6: #9a4dbb;
    --b-color-7: #0a506c;
    --b-color-8: #b3764d;

}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
     font-size: 62.5%;

}
 
body {
    width: 100vw;   
    height: 100vh;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.main {
   .main-container {
    width: 80rem;
    height: 80rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    display: flex;
    flex-direction: row;
    row-gap: gap;
    justify-content: space-evenly;
    align-items: center;
}
}

.box {
    width: 8rem;
    height: 8rem;
    background-color: var(--b-color-1);
    border-radius: 10px;
    box-shadow: var(--main-shadow);
}

.b-1 {
    background-color: var(--b-color-1);
}

.b-2 {
    background-color: var(--b-color-2);
}

.b-3 {
    background-color: var(--b-color-3);
}

.b-4 {
    background-color: var(--b-color-4);
}

.b-5 {
    background-color: var(--b-color-5);
}

.b-6 {
    background-color: var(--b-color-6);
}
.b-7 {
    background-color: var(--b-color-7);
}
.b-8 {
    background-color: var(--b-color-8);
}