/* This is a comment */

/*
    Universal properties
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f4f8;
    color: #ffffff;
    width: 900px;
    /* vh => view height */
    height: 100vh;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: #1e293b;
    color: #ffffff;
    text-align: center;
    height: 50px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
}

.main {
    background-color: #ffffff;
    gap: 10px;
}

.card {
    background-color: #f2f4f8;
    height: 100px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 18px;
    color: #1e293b;
}

.text {
    font-size: 14px;
    color: #000000;
}

.footer {
    background-color: #1e293b;
    height: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}