* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-container {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.header-container {
    background-color: blue;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-div {
    width: 200px;
    height: 25px;
    background-color: white;
    border-radius: 10px;
}

.main-container {
    background-color: white;
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-container-left {
    width: 500px;
    height: 250px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section-container-right {
    width: 500px;
    height: 500px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.sec-div {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
}

.footer-container {
    background-color: blue;
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding-bottom: 15px;
}

.footer-div {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}
