* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-container {
    /* vw => view width */
    width: 100vw;
    /* vw => view height */
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.header-container {
    background-color: blue;
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.header-div {
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 10px;
}

.main-container {
    background-color: white;
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-container-left, .section-container-right {
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 10px;
}

.section-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-container-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.sec-div {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
}

.footer-container {
    background-color: blue;
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.footer-div {
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 10px;
}